body {
    box-sizing: border-box;
    @extend %default-text;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* outline: 1px solid red; */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    min-height: 1000px;
    background: linear-gradient(to bottom, rgba($primarly-peach, .9), rgba($primarly-gold, .9)), url('../images/Layer.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}