* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

.m{
  width: 1000px;
  text-align: center;
  margin-bottom: 100px;
}
.m1{
  display: inline-block;
}
.sp{
  list-style: none; 
  display: inline-block; 
  margin-right: 120px;
}
.vs{
  color: dimgray;
  font-size: 14px; 
  font-weight: 400; 
  line-height: 24px; 
  text-transform: uppercase; 
  text-decoration: none;
}
.vs:hover {
  color: blue;
}
img{
  width: 100%;
}
.wrapper
{
display: inline-block;
text-align: center;
width: 1000px;
}
.box{
  width: 420px; 
  margin: 0 auto; 
  text-align: left;
  display: inline-block; 
  margin-bottom: 130px;
  margin-right:60px;
}
.l{
  color: dimgray
  font-size 14px; 
  font-weight: 300;
  text-transform: uppercase;
}
.pf{
  font-size: 30px; 
  font-weight: 400;
}
.text{
font-size: 14px; 
font-weight: 400; 
line-height: 24px;
}
.kn{
  width: 163px; 
  margin: -70px 368px;
}
.button{
  width: 164px; 
  height: 60px; 
  border: 1px solid dimgray; 
  font-size: 20px; 
  font-weight: 400; 
  line-height: 24px; 
  margin-bottom: 50px;
  background-color: white;
}