* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
.container{
  width: 900px;
  margin: 0 auto;
}
.m1{
  text-align: center;
  padding: 77px 0 103px 0;
}
.sp{
  list-style: none; 
  display: inline-block; 
  margin-left: 95px;
  text-align: center;
}
.sp li:last-child{ margin-right: 0;}
.vs{
  color: dimgray;
  text-transform: uppercase; 
  text-decoration: none;
}
.vs:hover {
  color: blue;
}
main{
  font-size: 0;
}
img{
  width: 420px;
  height: 280px;
  margin: 0 0 25px 0;
}
.box{
  width: 420px; 
  display: inline-block; 
  margin: 0 60px 121px 0;
}
.box:nth-child(2n){
  margin-right: 0;
}
.l{
  margin-top: 32px;
  color: dimgray
  font-size 14px; 
  font-weight: 300;
  text-transform: uppercase;
}
.pf{
  margin-top: 32px;
  font-size: 30px; 
  font-weight: 400;
}
.text{
margin-top: 40px;  
font-size: 14px; 
font-weight: 400; 
line-height: 24px;
}
.button{
  display: block;
    margin: 0 auto;
    border: none;
    font-size: 20px;
    color: #626262;
    background-color: #ffffff;
    padding: 18px 34px;
    border: 1px solid #626262;
}
