* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
.wrapper {
  text-align: center;
  width: 1200px;
}
.m {
  margin-bottom: 45px;
  text-align: center;
  width: 1200px;
}
.box {
  width: 417px;
  margin: 35px 25px;
  display: inline-block;
  margin-bottom: 65px;
}

.sp {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 40px;
  display: inline-block;
}
.vs {
  text-decoration: none;
  font-size: 100%;
  color: black;
}
a:hover {
  color: blue;
}
.l {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  color: dimgray;
}
.pf {
  font-size: 200%;
  text-align: justify;
  margin-bottom: 20px;
}
.cent {
  text-align: center;
}

.butt {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
}
p {
  text-align: left;
}
